<!DOCTYPE html>
<html>
  
    <title>Sandbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', 'media': 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
  

  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <%= link_to "/", class: "navbar-brand" do %>
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                      MyB
                  <% end %>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "About" , "/about"  %> </li>
              </ul>
          </div>
      </nav>
    <%= yield %>
  </body>
</html>
